/* 
    GENERAL
*/

body {
    margin: 0 auto;
}

:root {
    --aside-bg-color: #051E34;
    --main-header-height: 69px;
}

#wrapper {
    flex-wrap: nowrap;
    max-height: calc(100vh - var(--main-header-height));
}







/* 
    HEADER
*/
body > header {
    height: var(--main-header-height);
    position: sticky;
    z-index: 2;
}

.logo-header {
    width: 100px;
}

.logo-header > * > *{
    width: 50%;
}





/* 
    ASIDE
*/

aside {
    /* width: 180px; */
    position: sticky;
    top: var(--main-header-height);
    left: 0;
    height: calc(100vh - var(--main-header-height));
    z-index: 1;
    background-color:  var( --aside-bg-color);
}

.list-group-item {
    border-color: var(--bs-list-group-active-bg);
    border:none;
    color: white;
    background-color: transparent;
    --bs-list-group-action-color: rgba(33, 37, 41, 0.30);
    --bs-list-group-action-hover-color: white;
    --bs-list-group-action-hover-bg: rgba(33, 37, 41, 0.30);
    --bs-list-group-action-active-color: white;
    --bs-list-group-action-active-bg: rgba(33, 37, 41, 030);
    --bs-list-group-disabled-color:rgba(33, 37, 41, 0.30);
}




/* 
    MAIN
*/



/* header */



main > header > .row {
    margin: 0 auto;
}



/* main */
main > main {
    height: 100%;
    overflow: hidden;
    
}
main > main > * {
    height: 100%;
}
main > main > * > * > *{
    height: 100%;
}

main > main > .row {
    margin: 0 auto;
}

.title > span {
    vertical-align: text-top;
}

/* 
    FOOTER
*/

/* 
    DEBUG
*/
/* .debug > header .row {
   background-color: darkgreen;
   border: 2px dashed royalblue;
} */


/* .debug > header .header_box {
    border: 2px dashed gold;
    
} */

/* .debug aside {
background-color:coral;
border: 2px solid darkblue;
} */

/* .debug main {

background-color: rebeccapurple;
border: 2px solid darkred;
} */

/* .debug section {
    background-color: pink;
} */

/* .debug .main_header_box {
    background-color: cornflowerblue;
    border: 2px solid rosybrown;
} */

/* .debug .main_box {
    background-color: cornflowerblue;
    border: 2px solid darkred;
} */

/* .debug .main_inner_box {
    background-color: rebeccapurple;
    border: lightcoral;
} */


